PORT=5000
MONGO_URI=<your_mongo_connection_string>
SESSION_SECRET=<your_session_secret>
JWT_SECRET=<your_jwt_secret>
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173
B2_ENDPOINT=https://s3.<region>.backblazeb2.com
B2_REGION=<backblaze_b2_region>
B2_APPLICATION_KEY_ID=<backblaze_application_key_id>
B2_APPLICATION_KEY=<backblaze_application_key>
B2_BUCKET_NAME=<backblaze_bucket_name>
